.card {
  border: black 1px solid;
  padding: 1em;
  background: rgb(60, 62, 68);
  color: white;
  border-radius: 10px;
}

.container {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
}

.card__portrait {
  border-radius: 1em;
}
